

@model List<string>

@{
    ViewData["Title"] = "Výsledky hledání";
}

<h2>Výsledky hledání</h2>

<ul>
    @foreach (var result in Model)
    {
        <li>@result</li>
    }
</ul>

<p>Výsledky hledání byly uloženy do souboru: @ViewBag.FilePath</p>
<p></p>
<a href="@ViewBag.FilePath" download="results.json">Stáhnout soubor</a>

